label{
  padding-right:10px;
}

button#btn-profile{
  margin-left:20px;
}

button.navbar-button, a.navbar-button{
  margin-left:20px;
}

span.field-label{
  font-weight:bold;
  padding-right:10px;
}

span.field-value{
  padding-right:30px;
}

div.field-column{
  text-align:center;
  padding-bottom:20px;
}

div.page-column{
  min-height:300px;
}

div.col-md-4{
}

div.footer-right{
  text-align:right;
}

p.footer-text{
  margin-top:10px;
}

footer{
}

div.report-buttons{
  width:30px;
  align:right;
}

a.report-link, a.report-link:hover, a.report-link:focus{
  color:#FFF;
}

h1{
  margin-bottom:0.8em;
}

a.field-value{
  padding-right:20px;
}

label.date-field-label{
  width:75px;
}

div.row.bordered-box{
  border:1px solid #000;
  padding:10px;
  margin-left:-15px;
}

input.date-input{
  width:120px;
}

div.clearfix.spacer-small{
  height:10px;
}

td.centered{
  text-align:center;
}

td.select-icon{
  color:#2aabd2;
}

td.select-icon i{
  padding-left:10px;
  cursor:pointer;
}

div.row.search-filter-second-row{
  padding-top:20px;
}

